{% extends "base.html" %}
{% import "bootstrap5/form.html" as bf %}

{% block title %}Flasky - Login{% endblock %}

{% block page_content %}
<div class="pb-3 mb-4 border-bottom">
    <h1>Login</h1>
</div>
<div class="row">
    <div class="col-md-8 col-lg-5">
        {{ bf.render_form(form) }}
        <div class="mt-3">
            <p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>.
            </p>
            <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
        </div>
    </div>
</div>
{% endblock %}