{% extends "base.html" %}
{% import "bootstrap5/form.html" as bf %}

{% block title %}Flasky - Edit Post{% endblock %}

{% block page_content %}
<div class="pb-3 mb-4 border-bottom">
    <h1>Edit Post</h1>
</div>
<div>
    {{ bf.render_form(form) }}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='vendor/pagedown/Markdown.Converter.min.js', v='20260401') }}"></script>
<script src="{{ url_for('static', filename='vendor/pagedown/Markdown.Sanitizer.min.js', v='20260401') }}"></script>
{% endblock %}